apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-saturn
  labels:
    app: saturn
    {{- include "fairspace.labels" . | nindent 4 }}
data:
  application.yaml: |-
    server:
      port: 8090
      servlet:
        context-path: /api

    spring:
      security:
        oauth2:
          resourceserver:
            jwt:
              issuer-uri: {{ .Values.external.keycloak.baseUrl }}/realms/fairspace
              jwk-set-uri: {{ .Values.external.keycloak.baseUrl }}/realms/fairspace/protocol/openid-connect/certs
      servlet:
        multipart:
          max-file-size: 2GB
          max-request-size: 2GB
      http:
        multipart:
          enabled: true

    keycloak:
      auth-server-url: {{ .Values.external.keycloak.managementUrl | default .Values.external.keycloak.baseUrl }}/
      realm: {{ .Values.external.keycloak.realm }}
      client-id: {{ .Values.external.keycloak.clientId }}
      super-admin-user: {{ .Values.external.keycloak.superAdminUser | default (printf "organisation-admin-%s" .Values.external.keycloak.realm ) }}
{{ if .Values.saturn.auth.defaultUserRoles }}
      default-user-roles:
{{ toYaml .Values.saturn.auth.defaultUserRoles | indent 8 }}
{{ end }}

    jwt:
      auth:
        converter:
          resource-id: {{ .Values.external.keycloak.clientId }}
          principal-attribute: preferred_username

    application:
      publicUrl: {{ template "fairspace.url" . }}
      jena:
        metadataBaseIRI: http://{{ .Values.fairspace.ingress.domain }}/iri/
        datasetPath: "/data/saturn/db"
        storeParams:
{{ toYaml .Values.saturn.storeParams | indent 10 }}
        transactionLogPath: "/data/saturn/files/log"
        bulkTransactions: {{ .Values.saturn.bulkTransactions }}

      webdav:
        blobStorePath: "/data/saturn/files/blobs"
{{ if has "ExtraStorage" .Values.fairspace.features }}
        extraStorage:
          blobStorePath: "/data/saturn/extrafiles/blobs"
          defaultRootCollections:
            - "analysis-export"
{{ end }}
      view-database:
        enabled: true
        url: "jdbc:postgresql://localhost:5432/fairspace"
        mvRefreshOnStartRequired: {{ .Values.saturn.mvRefreshOnStartRequired }}
        username: fairspace
        autoCommitEnabled: false
        maxPoolSize: 50
        connectionTimeout: 1000
        password: fairspace
      features:
{{ toYaml .Values.fairspace.features | indent 8 }}

  vocabulary.ttl: |
{{ if .Values.saturn.vocabulary -}}
{{ .Values.saturn.vocabulary | indent 4 -}}
{{ else -}}
{{ .Files.Get "vocabulary.ttl" | indent 4 -}}
{{ end }}
  views.yaml: |
{{ if .Values.saturn.views -}}
{{ .Values.saturn.views | indent 4 -}}
{{ else -}}
{{ .Files.Get "views.yaml" | indent 4 -}}
{{ end }}
